body {
    background-color: rgb(191, 187, 187);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.post{
    background-color: white;
    width: 600px;
    
}

.post-header {

    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin-left: 5px;
}


.post1 img{
    width: 100%;
    height:  auto;
    
}

.post-body {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.post-icons {
    display: flex;
    gap: 15px;
    padding: 10px;
}

.post-likes {
    padding: 0px 15px 15px 15px;
}

.user-info {
    display: flex;
    margin-left: 20px;
    flex-direction: column;

}
.user-info h5{
    font-size: 12px;
}   

.user-info c{
   display: flex;

    
}
.user-info c{
    font-size: 15px;

}


.menu-icon {
    margin-left: auto;
    font-size: 30px;
    cursor: pointer;
}

.container {
   overflow: hidden;
    border-radius: 10px;


}